::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bfbfbf;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #bfbfbf;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #bfbfbf;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #bfbfbf;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #E5E5E5;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.header {
  background: #fa8c16;
  max-height: 64px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  margin-left: 60px;
  margin-right: auto;
}
.nav__link {
  color: #fafafa;
  text-decoration: none;
}
.nav__item {
  margin-right: 15px;
  list-style: none;
  text-decoration: none;

  font-size: 14px;
  line-height: 22px;
}
.header__search {
  background: #ffffff;
  max-width: 237px;
  max-height: 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}
.search__input {
  border: none;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 22px;
}
.search__button {
  border: none;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between

}

.content {
  max-width: 800px;
  margin-bottom: 95px;
}

.post {
  background: #ffffff;
  margin-top: 30px;
}
.post__title {
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}
.post__info {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
}
.post__tags {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}
.tags__link {
  margin: 0;
  text-decoration: none;
}
.tags__item {
  list-style: none;
  margin-right: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #BFBFBF;
}
.post__footer {
  display: flex;
  justify-content: space-between;
  background: #FAFAFA;
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 1px solid #E8E8E8;
}
.post__footer__buttons {
  display: flex;
  align-items: center;
  margin-left: 35px;
}
.post__footer__button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  padding: 0;
  color: #8C8C8C;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
}
.post__footer__img {
  margin-right: 7px;
}
.post__button__text {
  margin-right: 30px;
}
.post__author {
  display: flex;
  margin-right: 35px;
}
.author__info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  color: #8C8C8C;
}
.author__time {
  color: #BFBFBF;
}
.author__img {
  margin-left: 9px;
}

.sidebar {
  max-width: 368px;
  margin-top: 30px;
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAFAFA;
  border-bottom: 1px solid #E8E8E8;
  padding: 15px 25px 15px 25px;
  height: 70px;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.sidebar__img {
  border-radius: 50%;
}
.sidebar__title {
  margin-left: 17px;
  margin-right: auto;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.sidebar__switch {
  background: transparent;
  border: none;
  cursor: pointer;
}
.sidebar__nav {
  background: #FFFFFF;
  margin: 0;
  padding: 0;
}
.sidebar__item:hover {
  color: #FAAD14;
  border-right: 3px solid #FAAD14;
}
.sidebar__item {
  list-style: none;
}
.sidebar__link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  padding: 16px 16px 16px 48px;
}
.sidebar__link:hover {
  color: #FAAD14;
}
.sidebar__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FAAD14;
  border-radius: 4px;
  border: none;
  margin: 20px 0;
  width: 100%;
  height: 50px;
  padding: 13px 26px;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.button__img {
  margin-right: 5px;
}
.sidebar__content {
  background: #FFFFFF;
  padding: 22px 40px 30px 25px;
}
.comment__title {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #D48806;
}
.comment__info {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.sidebar__add {
  position: absolute;
  margin-top: 20px;
  margin-right: 15px;
  border: 1px solid #E8E8E8;
}
.sidebar__add::before {
  position: absolute;
  right: 0;
  content: "Реклама";
  width: 99px;
  height: 21px;  
  background: #C4C4C4;
  font-size: 12px;
  line-height: 20px;text-align: center;
  color: #FFFFFF;
}